.video-wrapper {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Poměr stran 16:9 */
    overflow: hidden;
    background: black;
  }
  
  .video-wrapper video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
   